<div class="container">
    <div class="card card-container">
        <img id="profile-img" class="profile-img-card" src="/img/logo-placeholder.jpg">
        <form class="form-signin" name="vm.loginForm" novalidate>
          <div class="form-group">
            <input name="userName" ng-model="vm.userName" class="form-control" placeholder="User Name" required autofocus type="text" pattern="[a-zA-Z-_]{3,15}">
          </div>
          <div class="form-group">
            <input name="password"  ng-model="vm.password" class="form-control" placeholder="Password" required type="password">
          </div>
            <button ng-click="vm.doLogin(vm.userName, vm.password)" class="btn btn-primary " type="submit" ng-disabled="vm.loginForm.$invalid">Sign in</button>
        </form><!-- /form -->

    </div><!-- /card-container -->
</div><!-- /container -->
