@import '../../../bower_components/bootstrap/less/bootstrap';
@import '../../../bower_components/font-awesome/less/font-awesome';
@import 'font-awesome-overrides';
@import 'bootstrap-overrides';

@import '../../people/styles/people.less';
@import '../controllers/loginCtrl.less';

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

img.gravatar {
  border-radius: 40px;
}
