<div class="list-group people-list">
  <a href="#" ui-sref="app.people.details({id: '{{p.id}}'})" class="list-group-item" ng-repeat="p in vm.people">
    <div class="row">
      <div class="col-xs-1">
        <img class="gravatar" src="http://www.gravatar.com/avatar/{{p.email | md5 }}?s=48/&d=retro" />
      </div>
      <div class="col-xs-11">
        <h4 class="list-group-item-heading">{{p.name}}</h4>
        {{p.email}}
      </div>
    </div>
  </a>
</div>
