<header>
  <uirouter-nav></uirouter-nav>
</header>

<section class="container-fluid" role="main">
  <ui-view>
    This is the root page content, no view was specified
  </ui-view>
</section>

<footer>
    <p>&copy; Company 2015</p>
</footer>
