<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">

      <button type="button" class="navbar-toggle" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#" ui-sref="{{vm.rootState.name}}">{{vm.rootState.navData.title}}</a>
    </div>
    <div class="collapse navbar-collapse" ng-class="!navCollapsed && 'in'">

      <ul class="nav navbar-nav">
        <li ui-sref-active="active" ng-repeat="state in vm.levelOneStates">
          <ul class="nav navbar-nav" ng-if="!state.abstract">
            <li>
              <a  href="#" ui-sref="{{state.name}}">{{state.navData.title}}</a>
            </li>
          </ul>
          <ul ng-if="state.abstract" class="nav navbar-nav" >
            <li class="dropdown" dropdown>
              <a href="#" class="dropdown-toggle" dropdown-toggle>{{state.navData.title}}<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li ng-repeat="childState in state.childStates">
                  <a href="#" ui-sref="{{childState.name}}">
                    {{childState.navData.title}}
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </li>

        <!-- <li class="dropdown" dropdown>
          <a href="#" class="dropdown-toggle" dropdown-toggle>{{state.name}}<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li><a href="#">Separated link</a></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li> -->

      </ul>

      <dpd-user-widget/>
      <!-- <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Link</a></li>
        <li class="dropdown" dropdown >
          <a href="#" class="dropdown-toggle" dropdown-toggle>Dropdown 2<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li>
      </ul> -->
    </div>
  </div>
</nav>
