<ul class="nav navbar-nav navbar-right">
  <li ng-if="!vm.currentUser"><a href="#" ui-sref="app.login">Log In!</a></li>
  <li ng-if="vm.currentUser" class="dropdown" dropdown >
    <a href="#" class="dropdown-toggle" dropdown-toggle>{{vm.currentUser.name}}<b class="caret"></b></a>
    <ul class="dropdown-menu">
      <li><a href="#" ng-click="vm.logOut()">Log Out</a></li>
    </ul>
  </li>
</ul>
