.people-list {
  .col-xs-11 {
    padding-left:0px;
  }
}

@media screen and (max-width:767px) {
  .people-list {
    .col-xs-11 {
      padding-left:50px;
    }
  }

}

@media screen and (max-width:480px) {
  .people-list {
    .col-xs-11 {
      padding-left:inherit;
    }
  }

}
